- const production = self.htmlWebpackPlugin.options.production;
block variables

include /utils/_utils
include /components/_components

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title #{ title }
    if description
      meta(name='description', content=description)
    if production
      base(href='/')
    else
      base(href='/')
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1, user-scalable=no'
    )
    block head

  body(class=bodyClass)
    include /includes/header
    main
      block content
    include /includes/footer
    block script
